<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General Configuration</title>
        <title lang="de-DE">Minimale Konfiguration</title>
        <input-field type="bool">
            <name>export</name>
            <defaultValue>0</defaultValue>
            <label>Active</label>
        </input-field>
        <input-field type="text">
            <name>account</name>
            <label>Account</label>
            <helpText>Please request your account with credentials by contacting support@boxalino.com.</helpText>
        </input-field>
        <input-field type="bool">
            <name>devIndex</name>
            <defaultValue>0</defaultValue>
            <label>Use development data index</label>
        </input-field>
        <input-field type="bool">
            <name>isTest</name>
            <defaultValue>0</defaultValue>
            <label>Test mode (log document content)</label>
        </input-field>
        <input-field type="text">
            <name>apiKey</name>
            <label>Data Integration Key</label>
            <helpText>Access Key for updating the data index</helpText>
        </input-field>
        <input-field type="text">
            <name>apiSecret</name>
            <label>Data Integration Secret</label>
            <helpText>Access Secret for updating the data index</helpText>
        </input-field>
        <input-field type="text">
            <name>batchSize</name>
            <defaultValue>30000</defaultValue>
            <label>Data Integration Batch Size</label>
            <helpText>Batch Size for export in full mode (product, customers, orders, etc)</helpText>
        </input-field>
    </card>
    <card>
        <title>Instant Update Configuration</title>
        <title lang="de-DE">Instant Update Konfiguration</title>
        <input-field type="bool">
            <name>productInstantStatus</name>
            <defaultValue>0</defaultValue>
            <label>Allow Instant Product Update</label>
            <helpText>Activate / Disable the Instant Update for products. Requires integration.</helpText>
        </input-field>
        <input-field type="bool">
            <name>userInstantStatus</name>
            <defaultValue>0</defaultValue>
            <label>Enable User Data Integration</label>
            <helpText>Activate / Disable the Instant Update for users. Requires integration.</helpText>
        </input-field>
        <input-field type="bool">
            <name>orderInstantStatus</name>
            <defaultValue>0</defaultValue>
            <label>Enable Order Data Integration</label>
            <helpText>Activate / Disable the Instant Update for orders. Requires integration.</helpText>
        </input-field>
        <input-field type="text">
            <name>instantDiEndpoint</name>
            <label>Instant Update Endpoint</label>
            <helpText>Endpoint for Instant Update requests</helpText>
        </input-field>
    </card>
    <card>
        <title>Full Data Integration Configuration</title>
        <title lang="de-DE">Full Konfiguration</title>
        <input-field type="bool">
            <name>productDiStatus</name>
            <defaultValue>1</defaultValue>
            <label>Allow Product Data Integration</label>
            <helpText>Activate / Disable the Full Data Integration</helpText>
        </input-field>
        <input-field type="bool">
            <name>userDiStatus</name>
            <defaultValue>0</defaultValue>
            <label>Enable User Data Integration</label>
            <helpText>Activate / Disable the Data Integration for doc_user document</helpText>
        </input-field>
        <input-field type="bool">
            <name>orderDiStatus</name>
            <defaultValue>0</defaultValue>
            <label>Enable Order Data Integration</label>
            <helpText>Activate / Disable the Data Integration for the doc_order document</helpText>
        </input-field>
        <input-field type="text">
            <name>threshold</name>
            <label>Threshold</label>
            <helpText>Add a validation for the minimum number of items that must be present in order for a full to be synced</helpText>
        </input-field>
        <input-field type="text">
            <name>fullDiEndpoint</name>
            <label>Full Data Integration Endpoint</label>
            <helpText>Endpoint for full data sync requests</helpText>
        </input-field>
    </card>
    <card>
        <title>Delta Data Integration Configuration</title>
        <title lang="de-DE">Delta Konfiguration</title>
        <input-field type="bool">
            <name>productDeltaStatus</name>
            <defaultValue>1</defaultValue>
            <label>Allow Product Delta Data Integration</label>
            <helpText>Activate / Disable the Full Data Integration</helpText>
        </input-field>
        <input-field type="bool">
            <name>userDeltaStatus</name>
            <defaultValue>1</defaultValue>
            <label>Enable User Delta Data Integration</label>
            <helpText>Activate / Disable the Data Integration for doc_user document</helpText>
        </input-field>
        <input-field type="bool">
            <name>orderDeltaStatus</name>
            <defaultValue>1</defaultValue>
            <label>Enable Order Delta Data Integration</label>
            <helpText>Activate / Disable the Data Integration for the doc_order document</helpText>
        </input-field>
        <input-field type="text">
            <name>deltaDiEndpoint</name>
            <label>Delta Data Integration Endpoint</label>
            <helpText>Endpoint for delta data sync requests</helpText>
        </input-field>
        <input-field type="bool">
            <name>outsource</name>
            <defaultValue>1</defaultValue>
            <label>Enable Outsource Mode</label>
            <helpText>When outsource mode is enabled, only doc_product is exported, making the export faster</helpText>
        </input-field>
    </card>
</config>
